.product-list.container {
	margin: 5rem auto;
	max-width: 450px;
	background: #fff;
	border-radius: 0.25rem;
	padding: 1.5rem 2rem;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.product-list.container h3 {
	font-weight: normal;
	text-transform: none;
	margin-bottom: 2rem;
}
.product {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 0.75rem;
	margin-bottom: 1.5rem;
	align-items: center;
}
.product img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.product h4 {
	margin-block: 0.35rem;
}
.product p {
	margin-bottom: 0;
}
